@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="https://itstep.az/dist/images/home/redesign/banner-l.png" alt="" />
</div>
<style>
    .text-center img{
        width: 100%;
        height: auto;
        margin-left: 304px;
    }
    .text-center{
    }
</style>